@font-face {
    font-family:Poppins-semiBold;
    src: url("../public/fonts/Poppins/Poppins-SemiBold.ttf");
    font-family:Poppins-Bold;
    src: url("../public/fonts/Poppins/Poppins-Bold.ttf");
}

body{
    background-color: #F6F6F6;
    font-family: Poppins-semiBold;
  
}

.main{

    
}

.title{
    font-family: Poppins-Bold;
    font-weight: bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;